/*
Theme Name: useful

01. GENERAL STYLING
02. HEADER
03. MENU
04. SLIDER FLEX
05. SERVICES
06. INFORM BLOCK
07. NEWSLETTERS

06. LATEST WORK
07. LATEST NEWS
08. FOOTER
09. ABOUT
10. 404 ERROR
11. TYPOGRAPHY
12. SHORTCODES
13. BLOG
14. CONTACTS
15. PORTFOLIO
16. SHOP
17. PRODUCT PAGE
99. RESPONSIVE STYLES

*/



/*-----------------------------------------------------------------------------------*/
/*	01. GENERAL STYLING
/*-----------------------------------------------------------------------------------*/
a, input, select, textarea {
	vertical-align:top;
	outline:none !important;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
textarea {
	resize: none;
}
img {
	outline:0;
	vertical-align:top;
	border:0;
	max-width:100.1%;
	height:auto;
}
a {
	color:#505050;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
	text-decoration:none;
	color:#c06c84;
}
ul {
	padding:0;
	margin:0;
}
li {
	padding:0;
	margin:0;
	list-style:none;
}
p {margin:0 0 20px;
}
h1, h2, h3, h4, h5, h6 {
	margin-top:0;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:700;
	color:#505050;
}
h1 {
	margin:0 0 26px;
	line-height:30px;
	font-size:25px;
}
h2 {
	position:relative;
	margin:0 0 26px;
	line-height:21px;
	font-size:21px;
}
h3 {
	margin:0 0 21px;
	line-height:20px;
	font-size:17px;
}
h4 {
	margin:0 0 21px;
	line-height:20px;
	font-size:15px;
}
h5 {
	line-height:20px;
	font-size:14px;
}
h6 {
	line-height:20px;
	font-size:12px;
}
::selection {
	background: #c06c84;
	color:#fff;
}
::-moz-selection {
	background: #c06c84; /* Firefox */
	color:#fff;
}
body {
	overflow-x:hidden;
	position:relative;
	margin: 0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	font-size: 13px;
	line-height: 20px;
	color: #797979;
}
#page {
	background-image: url(../images/bg.jpg);
	background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
}
section {padding-bottom: 70px;
}
.clear {
	clear:both;
	height:0;
	font-size:0;
}
.opacity {
	opacity: 0;
	filter: alpha(opacity=0);
}
.color_text {color:#c06c84;}
.color_dark {color:#505050;}
.color_light {color:#979797;}
.color_white {color:#fff;}

.color_bg {display:inline-block; background:#c06c84; color:#fff;}

.margbot0 {margin-bottom:0;}
.margbot5 {margin-bottom:5px !important;}
.margbot10 {margin-bottom:10px;}
.margbot20 {margin-bottom:20px;}
.margbot25 {margin-bottom:25px;}
.margbot30 {margin-bottom:30px;}
.margbot40 {margin-bottom:40px;}

.pad0 {padding:0;}
.padbot0 {padding-bottom:0;}
.padbot10 {padding-bottom:10px;}
.padbot20 {padding-bottom:20px;}
.padbot30 {padding-bottom:30px;}
.padbot40 {padding-bottom:40px;}
.padbot50 {padding-bottom:50px;}
.padbot60 {padding-bottom:60px;}
.padbot70 {padding-bottom:70px;}
.padbot80 {padding-bottom:80px;}
.padtop0 {padding-top:0;}

.full_width {
	position:relative;
	margin-left:-30px;
	margin-right:-30px;
}
header.full_width, footer.full_width {position:static;}
.overlay {
	position:absolute;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color: rgba(253,81,90,0.57);
}

.center {text-align:center;}
.right {text-align:right;}

.page_block {
	overflow-x:hidden;
	background:#fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.wrapper {
	padding-left: 15px;
	padding-right: 15px;
}

/* __________ Buttons __________ */
.btn {
	margin: 0;
	padding: 11px 20px;
	border:0;
	border-radius: 0;
	box-shadow: none;
	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	color:#fff;
	text-shadow: none;
	background-image: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.btn:focus,
.btn:hover {
	color:#fff;
	background-color: #c06c84;
}
.btn span {padding-left:8px;}
.btn-white {
	color:#505050;
	background:#fff;
}
.btn-light {
	color:#505050;
	background:#ddd;
}
.btn-dark {
	color:#fff;
	background:#505050;
}
.btn-dark:hover,
.btn-white:hover,
.btn-active {
	color: #fff;
	background: #c06c84;
}
.btn-active:hover,
.btn-default {background:#505050;}

.btn-lg {
	padding:15px 30px;
	text-transform:none;
	font-weight:400;
	font-size:15px;
}
.btn-sm {
	padding: 3px 15px;
	font-size:11px;
}
.btn-xs {
	padding: 1px 5px;
	font-size:11px;
}

.ie .btn {filter:transparent !important;}


/* _________ //Buttons _________ */

/*-----------------------------------------------------------------------------------*/
/*	02. HEADER
/*-----------------------------------------------------------------------------------*/
.logo a {
	display:block;
	text-transform:uppercase;
	font-weight:600;
	line-height:84px;
	font-size:35px;
	color:#505050;
	text-shadow: 3px 3px rgba(197,197,197,0.75);
}
.logo a span {color:#c06c84;
}


/* __________ TOP LINE __________ */
#top_line {
	padding-left:30px;
	padding-right:30px;
	border-bottom:2px solid #ededed;
}


/* __________ Socials __________ */
.top_social {padding:30px 0 29px;}
.top_social span {
	vertical-align:top;
	line-height:26px;
}
.top_social li {
	overflow:hidden;
	display:inline-block;
	margin:0 0 10px 7px;
}
.top_social li a {
	overflow:hidden;
	position:relative;
	display:block;
	width:26px;
	height:26px;
	background-color:#c5c5c5;
	background-repeat: no-repeat;
	background-image: url(../images/top_social.png);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.top_social li a:hover {background-color:#c06c84;}
.top_social li a.soc1 {background-position: 0 0;}
.top_social li a.soc2 {background-position: -36px 0;}
.top_social li a.soc3 {background-position: -72px 0;}
.top_social li a.soc4 {background-position: -108px 0;}
.top_social li a.soc5 {background-position: -144px 0;}
.top_social li a.soc6 {background-position: -180px 0;}

.top_social li a:before {
	content:'';
	position:absolute;
	right:-10px;
	bottom:-10px;
	width: 0;
    height: 0;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color:#f88cab;
    border-right-width: 5px;
	border-right-style: solid;
	border-right-color: transparent;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.top_social li a:after {
	content:'';
	position:absolute;
	right:-5px;
	bottom:-5px;
	width: 0;
    height: 0;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color:#a25b70;
    border-left-width: 5px;
	border-left-style: solid;
	border-left-color: transparent;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.top_social li a:hover:before {bottom:0; right:0;}
.top_social li a:hover:after {bottom:0; right:5px;}

.top_social li a .jquery-corner {
	bottom:-5px !important;
	left:5px !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.top_social li a:hover .jquery-corner {bottom:0 !important; left:0 !important;}



/*-----------------------------------------------------------------------------------*/
/*	03. MENU
/*-----------------------------------------------------------------------------------*/
.menu_block {background-color:#fafafa; padding-left:30px; padding-right:30px;}
.is-sticky .menu_block {
	z-index:9999;
	width:1170px;
	border-bottom:2px solid #ededed;
}

.navbar-collapse {padding-right:0; padding-left:0;}
.navbar-nav {float:none;}
.navbar-nav li {
	position:relative;
	width:16.6667%;
}
.navbar-nav li:before {
	content:'';
	position:absolute;
	left:0;
	top:25px;
	width:1px;
	height:17px;
	background-color:#e3e3e3;
}
.navbar-nav li.last:after {
	content:'';
	position:absolute;
	right:0;
	top:25px;
	width:1px;
	height:17px;
	background-color:#e3e3e3;
}
.navbar-nav li a {
	display:block;
	padding:24px 10px 24px;
	text-transform:uppercase;
	line-height:20px;
	font-size:13px;
	color:#797979;
	text-shadow: none;
	border:0;
	transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
}
.navbar-nav li a:hover,
.navbar-nav li a:focus,
.navbar-nav li.active a {
	background: none;
	color:#c06c84;
}
.navbar-nav li a i {padding-right:10px;
}


/* __________ Submenu __________ */
.sfHover ul {
	display:block;
}
.sub-menu ul {
	display: none;
	position: absolute;
	z-index: 99999;
	min-width: 185px;
	left: 0;
	top: 100%;
	padding: 0;
	margin: 0;
	background:#fafafa;
	border:1px solid #e3e3e3;
}
.sub-menu.last ul {right:0; left:auto;}
.sub-menu ul li  {
	margin:0;
	padding:0;
	width:100%;
	border-top: 0;
}
.sub-menu ul li:before,
.sub-menu li.last:after  {
	display:none;
}
.sub-menu ul li a {
	margin: 0 !important;
	padding: 7px 5px 7px 30px !important;
	text-transform: none;
	text-align:left !important;
	text-shadow: none;
	border:0 !important;
	border-bottom: 1px solid #e3e3e3 !important;
}
.sub-menu ul li a span {display:none !important;
}

/* _________ //Submenu _________ */

/* __________ Mega Menu ________ */
ul.mega_menu {
	width:500px;
	padding:10px;
	text-align:left !important;
}
ul.mega_menu h5 {margin-bottom:5px; font-weight:400;}
ul.mega_menu h4 {margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #e3e3e3; font-weight:400;}
ul.mega_menu li.col {
	float:left;
	width:33%;
	padding-right:10px;
}
ul.mega_menu li ol {padding-left:0;
}
ul.mega_menu li ol li a {
	border:0 !important;
	padding:2px 5px 2px 0 !important;
}

/* _________ //Mega Menu _______ */

/* __________ Fixed Menu Style __________ */
.fixed-menu {
	position:fixed;
	z-index:99999;
	left:50%;
	top:-100px;
	width:100%;
	background:#fff;
	opacity: 0;
	filter: alpha(opacity=0);
	border-bottom:2px solid #ececec;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.fixed-menu #top_line {display:none !important;}
.fixed-menu.fixed_show {
	top:0px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.fixed-menu-wrapper {
	padding: 20px 0;
}
.fixed-menu .logo a {
	line-height:50px;
	font-size:40px;
}
.fixed-menu .navbar-nav li a {
	padding-top:15px;
	padding-bottom:15px;
}
.fixed-menu .sub-menu ul li a {
	padding-top:7px;
	padding-bottom:7px;
}

/* _________ //Fixed Menu Style _________ */






/*-----------------------------------------------------------------------------------*/
/*	05. SERVICES
/*-----------------------------------------------------------------------------------*/
.service_item {
	overflow:hidden;
	position:relative;
	float:left;
	display: block;
	width:25%;
	padding:40px 0 24px;
}
.service_item.bg1 {background-color:#ee86a4;}
.service_item.bg2 {background-color:#dc7b97;}
.service_item.bg3 {background-color:#cc728c;}
.service_item.bg4 {background-color:#c06c84;}

.service_item:before {
	content:'';
	position:absolute;
	right:-40px;
	bottom:-20px;
	width: 0;
    height: 0;
	border-top-width: 20px;
	border-top-style: solid;
    border-right-width: 20px;
	border-right-style: solid;
	border-right-color: transparent;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.service_item:after {
	content:'';
	position:absolute;
	right:-20px;
	bottom:-20px;
	width: 0;
    height: 0;
	border-bottom-width: 20px;
	border-bottom-style: solid;
    border-left-width: 20px;
	border-left-style: solid;
	border-left-color: transparent;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.service_item:hover:before {bottom:0; right:0;}
.service_item:hover:after {bottom:0; right:20px;}
.service_item.bg1:before {border-top-color:#feb0c7;}
.service_item.bg1:after {border-bottom-color:#cc738d;}
.service_item.bg2:before {border-top-color:#ff8faf;}
.service_item.bg2:after {border-bottom-color:#c06c84;}
.service_item.bg3:before {border-top-color:#fe8faf;}
.service_item.bg3:after {border-bottom-color:#b4667c;}
.service_item.bg4:before {border-top-color:#ff8faf;}
.service_item.bg4:after {border-bottom-color:#a15b6f;}
.service_item .jquery-corner {
	bottom:-20px !important;
	left:20px !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.service_item:hover .jquery-corner {bottom:0 !important; left:0 !important;}
.service_item .icon_block {
	display:block;
	width:100px;
	height:100px;
	margin:0 auto;
	background-repeat:no-repeat;
}
.service_item .icon_block.icon1 {background-image:url(../images/icon1.png);}
.service_item .icon_block.icon2 {background-image:url(../images/icon2.png);}
.service_item .icon_block.icon3 {background-image:url(../images/icon3.png);}
.service_item .icon_block.icon4 {background-image:url(../images/icon4.png);}
.service_item h4 {
	margin-top:30px;
	text-align:center;
	color:#fff;
}



/*-----------------------------------------------------------------------------------*/
/*	06. INFORM BLOCK
/*-----------------------------------------------------------------------------------*/
.video_block {height:305px;}
.inform_block h2 {padding-top:26px; font-size:19px;}



/*-----------------------------------------------------------------------------------*/
/*	07. NEWSLETTERS
/*-----------------------------------------------------------------------------------*/
.newsletters_block {padding-left:30px; padding-right:30px; padding-top:44px; padding-bottom:39px; background-color:#505050;}
.newsletters_block h2 {margin: 6px 0 2px; font-size:20px; color:#fff;}
.newsletters_block p {margin-bottom:5px; color:#fff;}
.newsletters_block .btn {
	padding:15px 60px;
	font-weight:700;
	font-size:16px;
}
.newsletters_block .btn:hover {background-color:#f4f4f4; color:#505050;}
.newsletters_block input[type="text"] {
	width:280px;
	margin:0 6px 0 0;
	padding:18px 20px;
	color:#797979;
}




/*-----------------------------------------------------------------------------------*/
/*	06. LATEST WORK
/*-----------------------------------------------------------------------------------*/
.hover_img {position:relative; background-color:#505050;}
.hover_img:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#c06c84;
	opacity:0.12;
	filter: alpha(opacity=12);
}
.hover_img img {
	width:100%;
	opacity:1;
	filter: alpha(opacity=100);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.product_item:hover .hover_img img,
.project:hover .hover_img img,
.project_item:hover .hover_img img {
	opacity:0.46;
	filter: alpha(opacity=46);
}
.hover_img .zoom {
	display:block;
	position:absolute;
	z-index:100;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0);
}
.project_descr {
	position:relative;
	padding:37px 10px 14px;
	color:#979797;
	background-color:#f4f4f4;
	border-bottom:2px solid #ededed;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.project_item:hover .project_descr {border-bottom-color:#c06c84;}
.project_descr h4 {margin-bottom:11px; font-weight:400;}
.project_item:hover .project_descr h4 a {color:#c06c84;}
.project_descr .glyphicon {
	position:absolute;
	top:-32px;
	left:50%;
	width:53px;
	height:53px;
	margin-left:-26px;
	line-height:53px;
	color:#fff;
	text-indent:2px;
	background-color:#505050;
	border-radius:50%;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.project_item:hover .project_descr .glyphicon {background-color:#c06c84;}






/*-----------------------------------------------------------------------------------*/
/*	07. LATEST NEWS
/*-----------------------------------------------------------------------------------*/
.latest_news_item {margin-bottom:15px;}
.latest_news_item .recent_post {
	overflow:hidden;
	position:relative;
	display:block;
	width:160px;
	height:160px;
	margin:0 20px 10px 0;
	background-color:#c06c84;
}
.latest_news_item .recent_post img {
	width:auto;
	height:100%;
	opacity:0.86;
	filter: alpha(opacity=86);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.latest_news_item:hover .recent_post img {
	opacity:0.25;
	filter: alpha(opacity=25);
}
.news_content {margin-top:-5px;}
.latest_news_item .recent_post_title {text-transform:uppercase;font-size:14px;}
.recent_post_inf li {display:inline-block; padding:0 20px 11px 0;}
.recent_post_inf, .recent_post_inf a {font-size:12px; color:#979797;}
.recent_post_inf a:hover {color:#c06c84;}
.recent_post_inf li span {padding-right:11px;}
.recent_post_txt {padding-bottom:6px;}
.recent_post_read {text-transform:uppercase;}

/* Footer News */
footer .latest_news_item {margin-bottom:20px;}
footer .latest_news_item .recent_post {width:80px; height:80px;}
footer .latest_news_item .recent_post_title {color:#e2e1e1;}
footer .latest_news_item:hover .recent_post_title {color:#c06c84;}
footer .recent_post_inf li {padding:0 0 9px;color:#c06c84;}
/* //Footer News */





/*-----------------------------------------------------------------------------------*/
/*	08. FOOTER
/*-----------------------------------------------------------------------------------*/
footer {
	overflow:hidden;
	padding:47px 24px;
	background-color:#505050;
	color:#979797;
}
footer a {color:#979797;}
footer h2 {font-size:20px; color:#f2f1e6;}
footer h3 {margin-bottom:11px; font-size:16px; color:#c06c84;}

.contact_info li span {text-transform:uppercase; font-size:14px; color:#e2e1e1;}

.copyright {
	padding:25px 0 20px;
	color:#797979;
}
.copyright span {color:#c06c84;
}
footer .logo {padding-bottom:8px;
}
footer .logo a {
	line-height:36px;
	color:#fff;
}

/* __________ Tags __________ */
.tags a {
	display:inline-block;
	margin-bottom:4px;
	padding:3px 9px;
	line-height:24px;
	color:#505050;
	background:#ddd;
}
#sidebar .tags a:hover,
.tags a:hover {
	background: #c06c84;
	color:#fff;
}

/* _________ //Tags _________ */

/* __________ Contact Form __________ */
textarea,
input[type="text"] {
	width:218px;
	margin:0 1px 4px 0;
	margin-top:0 !important;
	padding: 11px 20px 12px;
	text-transform:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	line-height:20px;
	font-size: 12px;
	color: #797979;
	font-style:normal;
	border-radius: 0;	
	background: #f4f4f4;
	border: 0;
	box-shadow: none;	  
}
textarea {
	overflow:hidden;
	min-height:95px;
	resize: none;
	width:441px;
}
textarea,
input[type="text"].last {margin-right:0;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	outline: 0;
	box-shadow: none;
	border: 0;
}


footer textarea,
footer input[type="text"] {
	width:218px;
	margin:0 1px 4px 0;
	margin-top:0 !important;
	padding: 6px 11px 7px;
	text-transform:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	line-height:20px;
	font-size: 13px;
	color: #9a9a9a;
	font-style:normal;
	border-radius: 0;	
	background: #3d3d3d;
	border: 0;
	box-shadow: none;	  
}
footer textarea {
	overflow:hidden;
	min-height:95px;
	resize: none;
	width:441px;
}
footer textarea,
footer input[type="text"].last {margin-right:0;
}

.contact_btn {
	display:block;
	cursor:pointer;
	margin: 0;
	padding:0 13px;
	border: 2px solid #3d3d3d;
	border-radius: 0;
	box-shadow: 0;
	text-align:center;
	text-shadow:none;
	text-decoration:none;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	line-height:21px;
	font-size:13px;
	color:#c5c5c5;
	background: #3d3d3d; 
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.contact_btn:hover {
	background: none;
	color:#c06c84;
	border-color: #c06c84;
}

.notification_error {
	color:#c06c84;
}


/* _________ //Contact Form _________ */



/*-----------------------------------------------------------------------------------*/
/*	09. ABOUT
/*-----------------------------------------------------------------------------------*/
.breadcrumbs_block {
	margin-bottom:60px;
	padding:25px 30px;
	background-color: #c06c84;
	color:#fff;
}
.breadcrumbs_content {position:relative; z-index:2;}
.breadcrumbs_block h2 {
	margin-bottom:0;
	color:#fff;
}
.breadcrumb {
	margin:0;
	background: none;
	border-radius:0;
	padding:0;
}
.breadcrumb > li + li:before {color:#fff;}
.breadcrumb li a {
	font-weight:700;
	color:#fff;
}
.breadcrumb li:last-child a {
	font-weight:400;
	color:#fff;
	cursor:default;
}

/* __________ Skills __________ */
.skill_in {margin-bottom: 10px;
}
.skill-bar {
	width:100%;
	height:35px;
	position: relative;
	z-index:10;
	background: #eee;
}
.skill-bar span {
	display:inline-block;
	padding:7px 0 0 15px;
	color:#fff;
}
.progress-complete {
	display: block;
	width:0;
	height:100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	background: #c06c84;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.progress-complete:before {
	content: attr(data-hover);
	position:absolute;
	top: 7px;
	right:15px;
	display:block;
	padding:0;
	color:#fff;
}
/* _________ //Skills _________ */

/* __________ Accordion __________ */	
#accordion .ui-accordion-header,
.shortcode_toggles_item_title {
	position:relative;
	margin-bottom:10px;
	padding: 17px 30px 16px;
	font-weight:400;
	font-size:14px;
	color:#fff;
	background:#505050;
	cursor:pointer;
	outline:none !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#accordion .ui-accordion-header:hover,
#accordion .ui-accordion-header.ui-accordion-header-active,
.shortcode_toggles_item_title:hover,
.shortcode_toggles_item_title .ui-state-active {
	background:#c06c84;
	color:#fff;
}
#accordion .ui-accordion-header .ui-icon,
.shortcode_toggles_item_title .ui-icon {
	position:absolute;
	top: 17px;
	right:20px;
	vertical-align:top;
	width:20px;
	height:20px;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 16px;
	font-size:12px;
}
#accordion .ui-accordion-header .ui-icon:before {
	position:absolute;
	content: "\e080";
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
#accordion .ui-accordion-header.ui-accordion-header-active .ui-icon:before {
	transform: rotate(90deg);
}

.shortcode_toggles_item_title .ui-icon:before {
	position:absolute;
	content: "\e114";
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.shortcode_toggles_item_title.ui-state-active .ui-icon:before {
	transform: rotate(-90deg);
}

.shortcode_toggles_item_body {padding-bottom:20px;}
.shortcode_toggles_shortcode .ip,
#accordion .ui-accordion-content {
	padding:17px 10px 8px 30px;
}

/* _________ //Accordion _________ */

/* __________ Tab __________ */
.nav-tabs {border: 0;}
.nav-tabs li a {
	padding:10px 17px 12px;
	text-transform:uppercase;
	line-height:20px;
	font-size:14px;
	color:#505050;
	border-radius: 0;
	border: 0;
	border-bottom:3px solid #fff;
	background-color:#f4f4f4;
}
.nav-tabs li a:hover {
	color:#c06c84;
	background:#f4f4f4;
	border-bottom:3px solid #fff;
}
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	color:#505050;
	background:#f4f4f4;
	border: 0;
	border-bottom:3px solid #f4f4f4;
}
.tab-content {
	padding:26px 30px 29px;
	background:#f4f4f4;
	border-bottom:2px solid #ededed;
}
.tab-content .left_block {width:45%;
}
.tab-content .right_block {width:49%;
}
.tab-content iframe {height:159px;
}
.tab-content .list4 li {
	padding:0 0 5px;
}
/* _________ //Tab _________ */

/* __________ Our Team __________ */
.crewman_foto {
	margin-bottom:20px;
	background:#d8d08b;
}
.crewman_foto img {
	opacity: 0.88;
	filter: alpha(opacity=88);
}
.crewman h3 {margin-bottom:0;
}
.crewman p {margin-bottom:10px;
}
.crewman .top_social {
	padding:15px 0;
}
.crewman .top_social li {
	margin:0 0 0 4px;
}
/* _________ //Our Team _________ */

/* __________ Our Partners __________ */
.full_width_bg {
	background-image: url(../images/testimonials_bg.jpg);
	background-size:cover;
	background-attachment:fixed;
}
.our_partners_block.type7 li {margin-right: 0; margin-bottom:30px;}
.our_partners_block li a {position:relative;}
.our_partners_block.type7 li a {display:block; background-color:#f9f9f9;}
.our_partners_block li:hover a {background:none;}
/* _________ //Our Partners _________ */



/*-----------------------------------------------------------------------------------*/
/*	10. 404 ERROR
/*-----------------------------------------------------------------------------------*/
.block_404 {
	padding:0;
}
.search_btn {
	display:inline-block;
	cursor:pointer;
	vertical-align: top;
	margin: 0;
	padding: 6px 20px 7px;
	border: 0;
	border-radius: 0;
	box-shadow: 0;
	text-align:center;
	text-shadow:none;
	text-decoration:none;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	line-height:21px;
	font-size:13px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}




/*-----------------------------------------------------------------------------------*/
/*	11. TYPOGRAPHY
/*-----------------------------------------------------------------------------------*/
.list1 li {
	list-style:disc inside;
	color:#505050;
}
.list2 li {
	list-style:circle inside;
	color:#505050;
}
.list3 li {
	list-style:decimal inside;
	color:#505050;
}
.list4 li b.glyphicon {
	padding-right:15px;
	line-height:18px;
	color:#505050;
	font-size:9px;
}
.list1 li span, .list2 li span, .list3 li span {color:#979797;
}

.dropcap {
    display: block;
    float: left;
	margin:0 13px 0 0;
    font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:600;
    font-size: 43px;
    line-height: 55px;
    padding-top: 0;
}
.dropcap.type4 {
    display: block;
    float: left;
    font-family: 'Yesteryear', cursive;
	text-transform:uppercase;
	font-weight:400;
    font-size: 43px;
    line-height: 55px;
    padding: 0 22px 0 21px;
}

blockquote {
	position:relative;
	padding-top:0 !important;
	padding-left:40px !important;
	border: 0 !important;
}
blockquote:before {
	content:'"';
	position:absolute;
	left:0;
	top:0;
	line-height:70px;
	font-size:90px;
}
blockquote.pull-right {
	padding-right: 0 !important;
	margin-left: 20px !important;
}
blockquote.type1:before {color:#505050;
}
blockquote.type2:before {color:#979797;
}
blockquote p {
	margin-bottom:10px;
	font-weight:400;
	line-height: 20px;
	font-size: 13px;
}
blockquote.pull-right p, blockquote.pull-right small {text-align:left !important;
}
blockquote .author {
	font-size:12px;
	color:#cecece;
}



/*-----------------------------------------------------------------------------------*/
/*	12. SHORTCODES
/*-----------------------------------------------------------------------------------*/
.example_col [class^="col-"] {
	padding-top:15px;
	padding-bottom:15px;
	background:#f9f9f9;
	border:1px solid #ddd;
}

hr {border-color:#ececec;}
.divider_light {border-color:#979797;}
.divider_dark {border-color:#505050;}
.divider_colored {border-color:#c06c84;}

.alert {
	background-image: inherit !important;
	border: 0;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
}
.close {
	font-weight:400;
	opacity: 1;
	filter: alpha(opacity=100);
	text-shadow: none;
}

.frame340 iframe {
	width:340px;
	height:191px;
	margin:7px 21px 10px 0;
}
.pull-right.frame340 iframe {
	margin:7px 0 10px 21px;
}

/* __________ Price Table __________ */
.module_price_table {
	overflow:hidden;
}	
.price_item {
	display:inline-block;
	float:left;
	width:20%;
}
.price_item .price_item_wrapper {
	padding-left:1px;
}
.price_item:first-child .price_item_wrapper {
	padding-left:0;
}
.price_item_title {
	background:#505050;
	padding:13px 20px;
	text-align:center;
}
.price_item_title h6 {
	color:#dddddd;
	font-size:16px;
	line-height:18px;
	margin:0;
	font-weight:400;
}
.most_popular .price_item_title h6 {
	color:#ffffff;
}
.price_item_cost {
	padding:22px 20px 11px 20px;
	text-align:center;
}
.price_item_cost h2 {
	font-size:30px;
	line-height:32px;
	font-weight:700;
	color:#505050;
}
.price_item_cost h2 span {
	font-size:16px;
	line-height:32px;
	font-weight:400;
	color:#505050;
	text-transform:none;
}
.price_item_text {
	background:#dddddd;
	color:#505050;
	text-align:center;
	line-height:16px;
	padding:9px 20px 11px 20px;
	margin-bottom:1px;
}
.most_popular .price_item_text {
	background:#ededed;
}
.price_item_btn a {
	font-size:11px;
	text-align:center;
	text-transform:uppercase;
	display:block;
	font-weight:700;
}
.most_popular .price_item_btn a,
.price_item_btn a:hover {
	background:#c06c84;
	color:#ffffff;
}
.most_popular .price_item_title {
	background:#c06c84;
}
.most_popular .price_item_cost h2,
.most_popular .price_item_cost h2 span {
	color:#c06c84;
}
/* _________ //Price Table _________ */

/* __________ Icons __________ */
.icons_block li {
	float:left;
	width: 20%;
	padding-bottom:3px;
}
.icons_block li span {
	padding-right:7px;
	color:#444;
}
/* _________ //Icons _________ */




/*-----------------------------------------------------------------------------------*/
/*	13. BLOG
/*-----------------------------------------------------------------------------------*/
.blog_post,
.post {padding-bottom:30px;
}
.portfolio_post h2,
.blog_post h2,
.post h2 {
	margin-bottom:6px;
}
h2 .glyphicon {
	vertical-align:top;
	padding:2px 7px 0 0;
	font-size:15px;
}
.post p {margin-bottom:7px;
}
.post_meta {
	padding-bottom:13px;
}
span.sep {
	padding:0 8px;
}
.post_img {margin-bottom:12px;
}
.post_img iframe {
	height:350px;
}

/* __________ Comments __________ */
#comments ol {
	padding:0;
	margin:0;
	list-style:none;
}
#comments li {
	padding:0 0 20px 0;
}
.avatar {
	margin-right:11px;
}
.comment_right {display:table;	
}
.comment_info {
	padding-bottom:7px;
	color:#b9b9b9;	
}

#comments ol li ul li {
	padding:20px 0 0 30px;
	margin:0;
}

.leave_comment input[type="text"] {width:32.8%;
}
.leave_comment textarea {
	width:99.5%;
	min-height: 130px;
}
/* _________ //Comments _________ */

/* __________ Pagination __________ */
.pagination li a:focus,
.pagination li a {
	display:block;
	margin:0 5px 5px 0;
	padding: 6px 12px;
	border-radius: 0 !important;
	border:0;
	background:none;
	color:#9c9c9c;
}
.pagination li.active a:focus,
.pagination li.active a:hover,
.pagination li a:hover,
.pagination li.active a {
	background:#ddd;
	color:#444;
}
.pagination li.next a:hover,
.pagination li.prev a:hover {
	background:none;
	color:#444;
}

/* _________ //Pagination _________ */

/* __________ Sidebar __________ */
.sidepanel {
	margin-bottom:35px;
}

/* Flickr */
.flickrs {margin-right:-10px;
}
.FlickrImages li {
	margin:2px 5px 3px 0 !important;
	padding:0 !important;
	float:left;	
	border:0 !important;
}
.FlickrImages li a {
	overflow:hidden;
	display:block;
	width:60px;
	height:60px;
	background-color:#c06c84;
}
.FlickrImages li a img {
	width:60px;
	height:60px;
	border:0;
	opacity: 0.86;
	filter: alpha(opacity=86);
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.FlickrImages li a:hover img {
	opacity: 0.17;
	filter: alpha(opacity=17);
}

footer .FlickrImages {padding-right:70px;}
footer .FlickrImages li a {
	width:63px;
	height:63px;
}
footer .FlickrImages li a img {
	width:64px;
	height:auto;
}

.copyright_logo, .copyright_logo:focus {text-transform:uppercase; color:#797979;}

/* //Flickr */

#sidebar input {
	width:67%;
}
#sidebar .search_form .btn {width:30%;
}
.popular_products li,
.recent_posts li {margin-bottom:10px;
}
.popular_products .popular_product_img img {width:70px;}
.popular_product_descr,
.recent_posts_content {padding-left:85px;
}
.popular_product_descr a.title,
.post_title {
	display:block;
	margin-bottom:8px;
}
.popular_product_descr span.price {display:block; padding-top:7px;}

/* Tweets */

#sidebar .tweet_module .tweet_list li {
	margin-bottom:14px;
	padding-left:30px;
	padding-bottom:10px;
	border-bottom: 1px solid rgba(255,255,255,0.21);
	background-image:url(../images/tweets_bg2.png);
	background-repeat: no-repeat;
	background-position:left top;
}
footer .tweet_module .tweet_list li {background-image:url(../images/tweets_bg.png);}
.tweet_module .tweet_list li:last-child {
	padding-bottom:0;
	border-bottom:0;
}
.tweet_module .tweet_time {display:block;}
footer .tweet_module .tweet_time a {color:#c06c84;}

.tweet_module.index_page {
	padding:28px 30px 26px;
	background-color:#c06c84;
	color:#fff;
}
.tweet_module.index_page .tweet_list li {
	margin:0;
	padding:0 0 0 40px;
	background-image:url(../images/tweets_bg.png);
	background-repeat:no-repeat;
	background-position:left bottom;
}
.tweet_module.index_page .tweet_time {position:relative; display:inline-block; padding-left:20px;}
.tweet_module.index_page .tweet_time a {color:#fff;}
.tweet_module.index_page .tweet_time:before {
	content:'';
	position:absolute;
	left:4px;
	top:9px;
	width:13px;
	height:1px;
	background-color:#fff;
}

/* //Tweets */

/* _________ //Sidebar _________ */


/*-----------------------------------------------------------------------------------*/
/*	14. CONTACTS
/*-----------------------------------------------------------------------------------*/
#map {
	margin-top:-60px;
	margin-bottom:40px;
}
.contacts_info li {padding:0 0 6px;}

.top_form  input[type="text"],
.top_form textarea {width:99%;
}




/*-----------------------------------------------------------------------------------*/
/*	15. PORTFOLIO
/*-----------------------------------------------------------------------------------*/
/* __________ Isotope Styles __________ */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}

/* _________ //Isotope Styles __________ */
#filter li {display:inline-block; margin-bottom:4px;
}
#filter li a {
	display:block;
	padding:6px 12px;
	border: 0;
	background-color:#f4f4f4;
}
#filter li a.selected {background-color:#c06c84; color:#fff;}
#projects .columns1 .project {
	width:100%;
}
#projects .columns1 .hover_img {margin-bottom:10px;
}

.load_more_cont {
	width:100%;
	padding:10px 0 0;
}





/*-----------------------------------------------------------------------------------*/
/*	16. SHOP
/*-----------------------------------------------------------------------------------*/
.sorting_options {
	margin-bottom:30px;
	padding:10px 15px;
	background:#f4f4f4;
	border-bottom:2px solid #ededed;
}
.sorting_options_text {
	display:inline-block;
	vertical-align:top;
	padding:5px 20px 5px 0;
}
.sorting_options .btn {
	vertical-align:top;
	margin-right:20px;
	padding:5px 20px;
}

#toggle-sizes {display:inline-block; padding-left:17px;}
#toggle-sizes a {
	display:inline-block;
	width:30px;
	height:30px;
	color:#ddd;
	font-size:21px;
	line-height:30px;
}
#toggle-sizes a:hover {color:#797979;}
.sorting_options .pagination {margin:0; border-radius:0;}
.sorting_options .pagination li a {margin-bottom:0;}
/* __________ Sorting __________ */
.product_sort {position:relative; display:inline-block;}
.filter_btn {
	min-width:200px;
	height:30px;
	padding:0 0 0 20px;
	background-color:#fff;
	cursor:pointer;
}
.filter_btn span.glyphicon {
	padding-right:10px;
	line-height:30px;
	font-size:9px;
	color:#797979;
}
.product_sort #filter {
	position:absolute;
	z-index:500;
	top:31px;
	left:0;
	min-width:200px;
}
.product_sort #filter li {
	display:block;
	margin:0;
}
.product_sort #filter li a {
	display:block;
	margin:0;
	padding-left:20px;
	text-align:left;
	background-color:#e3e3e3;
	color:#505050;
}
.product_sort #filter li a:hover,
.product_sort #filter li a.selected {
	color:#c06c84;
	background-color:#e3e3e3;
}

.size_btn a {
	display:inline-block;
	text-transform:none;
	font-size:13px;
	cursor:pointer;
	color:#979797;
}
.size_btn a .glyphicon {padding-right:10px; color:#e3e3e3;}
.size_btn a .glyphicon:before {
	content: "\e012";
}
.size_btn a .glyphicon.glyphicon-th:before {
	content: "\e011";
}

/* _________ //Sorting _________ */

/* __________ Product __________ */
.product_item {overflow:hidden; position:relative;}
.shop .product_item .hover_img {width:100%;}
.product_item .project_descr {
	position:absolute;
	left:0;
	bottom:-120px;
	width:100%;
	background-color:#fff;
}
.product_item:hover .project_descr {bottom:0;}
.product_item .project_descr p {display:none;}
.product_item .item_btn_in {
	position:absolute;
	top:-100px;
	left:0;
	right:0;
	transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}
.product_item:hover .item_btn_in {top:34%;}
.product_item .item_btn_in a.btn {
	padding:10px 20px;
	text-transform:uppercase;
	font-size:15px;
}
.product_item .item_btn_in a.btn:focus,
.product_item .item_btn_in a.btn:hover {
	border-color:#fff;
	background-color:#fff;
	color:#c06c84;
}
/* _________ //Product _________ */

/* __________ Resized __________ */
.variable-sizes .element {width:100% !Important;}
.variable-sizes .hover_img {float:left; width:255px !Important; margin-right:30px;}
.variable-sizes .product_item .item_btn_in {
	bottom:15px;
	right:15px;
	left:auto;
	top:auto;
}
.variable-sizes .product_item .item_btn_in a.btn {
	border:0;
	background-color:#f4f4f4;
	color:#505050;
}
.variable-sizes .product_item .item_btn_in a.btn:hover {
	border-color:#c06c84;
	color:#fff;
	background-color:#c06c84;
}
.variable-sizes .project_descr {
	position:static;
	float:left;
	width:65%;
	padding-top:0;
	padding-left:0;
	padding-bottom:60px;
	text-align:left;
	border:0;
	transition: none;
	-webkit-transition: none;
}
.variable-sizes .product_item .project_descr span {display:block; margin:-5px 0 20px;}
.variable-sizes .product_item .project_descr p {display:block;}
/* _________ //Resized _________ */

/* __________ Shopping Cart __________ */
#cart {
	padding: 18px;
	background-color: #f4f4f4;
	border-bottom:2px solid #ededed;
}
#cart .close {color:#f00;}
.cart-items {
	border-bottom: 1px solid #ededed;
	padding: 0 0 10px 0;
}
.cart-items li {margin: 0 0 10px 0;
}
.cart-items li:last-child {margin: 0;
}
.cart-item-amount {
	display: block;
	font-size: 12px;
}
.cart-subtotal {
	display: block;
	margin: 8px 0;
}
.cart-subtotal strong {color: #505050; font-weight:400;
}

/* __________ Price Filter __________ */
#price-range input {
	padding: 0;
	background: 0;
	border: 0;
	box-shadow: none;
	margin: 2px 0 0 7px;
	width: 100px;
}
#price-range label {
	float: left;
	font-weight:400;
	color:#505050;
}
.padding-range {
	padding: 0 8px;
}
#slider-range {
	margin: 0 0 16px 0;
}
#price-range .ui-slider {
	position: relative;
	text-align: left;
}
#price-range .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 17px;
	height: 17px;
	margin-top: 1px;
	cursor: w-resize;
	transition: none !important;
	-webkit-transition: !important;
}
#price-range .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	height: 14px;
	display: block;
	border: 0;
	background-position: 0 0;
}
#price-range .ui-widget-content {
	background-color: #f2f2f2;
	padding: 2px 0;
}
#price-range .ui-widget-header {background: #c06c84;
}
#price-range .ui-state-default {background: #ddd;
}
#price-range .ui-slider.ui-state-disabled .ui-slider-handle,
#price-range .ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}
#price-range .ui-slider-horizontal {
	height: .8em;
}
#price-range .ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
#price-range .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
#price-range .ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
#price-range .ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
/* _________ //Price Filter _________ */

/* __________ Product __________ */
.product_item2 {
	position:relative;
	border-width:4px;
	border-style:solid;
	border-color:transparent;
	transition: border-color 0.3s ease-in-out;
	-webkit-transition: border-color 0.3s ease-in-out;
}
.product_item2:hover {
	border-color:#c06c84;
}
.product_foto {display:block; background-color:#f5f5f5;}
.product_inf {padding:25px 5px 26px 20px;}
.product_inf h4 {margin-bottom:11px;}
.product_inf .price {margin-bottom:21px; font-size:17px;}
.old_price {float:left; padding-right:13px; text-decoration:line-through; font-size:17px; color:#797979;}
.product_inf .btn {
	top:0;
	margin-right:5px;
	padding:6px 8px;
	text-transform:uppercase; 
	font-size:15px; 
	color:#505050; 
	border:2px solid #505050; 
	background-color:transparent;
}
.product_inf .btn:hover {background-color:#c06c84; border-color:#c06c84; color:#fff;}
.product_inf .btn_com {
	margin-right:0;
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s;
}
.product_inf .btn_like2, .product_inf .btn_com {
	font-size:20px;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translateX(-50%);
	-ms-transform: translateX( -50%);
	-webkit-transform: translateX(-50%);
}
.product_item2:hover .product_inf .btn_like2,
.product_item2:hover .product_inf .btn_com {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
}

.sale {
	position:absolute;
	z-index:10;
	left:0;
	top:10px;
	padding:9px 15px;
	text-transform:uppercase;
	font-weight:700;
	font-size:15px;
	color:#fff;
	background-color:#c06c84;
}

/* _________ //Product _________ */



/*-----------------------------------------------------------------------------------*/
/*	17. Product Page
/*-----------------------------------------------------------------------------------*/
/* __________ Rating __________ */
.rating {
	overflow: hidden;
	display: inline-block;
	margin-right:25px;
}
.rating-input {
	display:none;
	position: absolute;
	left: 0;
	top: -50px;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
	color:#c06c84;
}
.rating-star,
.rating:hover .rating-star {
	float: right;
	display: block;
	margin:0 5px 0 0;
	width: 14px;
	height: 14px;
	line-height:12px;
	color:#e3e3e3;
	font-size:15px;
}
/* _________ //Rating _________ */

.type2 h2 {margin-bottom:15px;}
.type2 .rating:hover .rating-star:hover,
.type2 .rating:hover .rating-star:hover ~ .rating-star,
.type2 .rating-input:checked ~ .rating-star {
	color:#ffc24d;
}
.price_block {padding-top:11px;}
.type2 .product_price {
	line-height:27px;
	font-size:29px;
	color:#c06c84;
}
.type2 .old_price {
	padding-right:22px;
	line-height:27px;
	font-size:18px;
}
.color_choice li {
	display:inline-block;
	margin-right:6px;
	padding:1px;
	box-shadow: 0 0 0 1px #e4e4e4;
	transition: box-shadow 0.3s ease-in-out;
	-webkit-transition: box-shadow 0.3s ease-in-out;
}
.color_choice li:focus,
.color_choice li:hover {
	box-shadow: 0 0 0 1px #000;
}
.color_choice li a {
	display:block;
	width:21px;
	height:21px;
	border:1px solid #000;
}
.color_choice li.color1 a {background-color:#000;}
.color_choice li.color2 a {background-color:#fff; border-color:#e4e4e4;}
.color_choice li.color3 a {background-color:#cb3210; border-color:#cb3210;}

.quantity_block li {float:left;}
.quantity_block .product_inf {padding:0;}
.quantity_block .product_inf .btn_like2,
.quantity_block .product_inf .btn_com {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: translateX(0);
	-ms-transform: translateX(0);
	-webkit-transform: translateX(0);
}
.quantity {
	padding:8px 23px 8px 0;
	text-transform:uppercase;
	font-size:14px;
	color:#505050;
}

.quantity_block .product-amount form {
	overflow:hidden;
	position:relative;
	margin:0 20px 10px 0;
	border:1px solid #e6e6e6;
}
.quantity_block .product-amount input:focus,
.quantity_block .product-amount input {
	width: 85px;
	height:34px;
	margin:0;
	padding: 0 27px 0 10px;
	text-align: left;
	font-size:15px;
	color:#505050;
	border:0;
	background-color:#fff;
	background-image:url(../images/product-amount-bg.png);
	background-repeat:no-repeat;
	background-position:right bottom;
}
.quantity_block .product-amount a {
	position:absolute;
	right:0;
	display:inline-block;
	vertical-align:top;
	width:27px;
	height:17px;
	line-height:17px;
	color:#fff;
	border:0;
	text-indent:-999px;
}
.quantity_block .product-amount a.plus {top:0;}
.quantity_block .product-amount a.minus {bottom:0;}

.quantity_block .product_inf .btn {border:2px solid #e4e4e4;}
.quantity_block .product_inf .btn.add_cart {border-color:#c06c84; color:#c06c84;}
.quantity_block .product_inf .btn.add_cart:hover {border-color:#c06c84; color:#fff; background-color:#c06c84;}
.quantity_block .product_inf .btn:hover {border-color:#505050; background-color:transparent; color:#505050;}







/*-----------------------------------------------------------------------------------*/
/*	99. RESPONSIVE STYLES
/*-----------------------------------------------------------------------------------*/
@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
	
/* __________ Top Slider __________ */
	.slide2 .flex_caption2 .slider_video iframe {height:254px;}
/* _________ //Top Slider _________ */
	
	#sidebar input {width:100%;}
	#sidebar .search_btn {width:100%;}
	
	.newsletters_block .btn {height:56px;}

}

@media (width: 768px) and (-webkit-min-device-pixel-ratio:0) {

/* __________ Top Slider __________ */
	.slide2 .flex_caption2 .slider_video iframe {height:196px;}
/* _________ //Top Slider _________ */
	
}


@media (max-width: 1024px) {
	.opacity { opacity: 1; filter: alpha(opacity=100);}
	
	.block_404 {min-height:300px !important;}
	.wrapper404 {padding-top:97px !important; padding-bottom:97px !important;}
	
	#sidebar .search_form .btn, #sidebar input[type="text"] {width:100%;}
	
}

@media (min-width: 992px) and (max-width: 1199px) {
	.is-sticky .menu_block {width:970px;}
	
	.newsletters_block input[type="text"] {width:220px;}
	.newsletters_block .btn {padding:15px 30px;}
	
/* __________ Shop __________ */
	.product_item .item_btn_in a.btn {margin-bottom:5px; padding:3px 7px; font-size:13px;}
	.product_inf .btn {margin-bottom:5px;}
	.variable-sizes .hover_img {width:205px !important;}
/* _________ //Shop _________ */
	

}

@media (min-width: 768px) and (max-width: 991px) {
	.is-sticky .menu_block {width:750px;}
	
	.newsletters_block .pull-left, .newsletters_block .pull-right {float:none !important;}
	.newsletters_block p {margin-bottom:20px;}
	.newsletters_block input[type="text"] {width:235px;}
	

/* __________ Shop __________ */
	#sidebar input, #sidebar .search_form .btn {width:100%;}
	.sorting_options .pagination {margin-top:15px;}
	.product_inf .btn {margin-bottom:5px;}
	.variable-sizes .hover_img {width:205px !important;}
	.variable-sizes .project_descr {width:274px;}
/* _________ //Shop _________ */

/* __________ Blog __________ */
	.leave_comment input[type="text"] {width:32.6%;}
/* _________ //Blog _________ */

	
	footer .FlickrImages {padding-right:0;}
	

}

@media (max-width: 767px) {
	.logo a {line-height:70px;}
	
	.top_social {padding:25px 0 0;}
	
/* __________ Menu __________ */
	.fixed-menu {display:none !important;}	
	.navbar-toggle {
		position:relative;
		z-index:100;
		display:block;
		margin: 10px 0;
		padding:0;
		border:#cfcfcf 1px solid;
		border-radius:4px;
		box-shadow:inset #fbfbfb 0 1px 0;
		width:40px;
		height:40px;
	
		background-color:#efefef;
		background-image: linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -webkit-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -moz-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -ms-linear-gradient(top, #f5f5f5, #e9e9e9);
		background-image: -o-linear-gradient(top, #f5f5f5, #e9e9e9);
	}
	.navbar-toggle:hover {
		background-color:#f5f5f5;
		background-image: linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -webkit-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -moz-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -ms-linear-gradient(top, #e9e9e9, #f5f5f5);
		background-image: -o-linear-gradient(top, #e9e9e9, #f5f5f5);	
	}
	.navbar-toggle span {font-size:20px; line-height:24px;}
	.navbar-nav {float:none; text-align:left; margin:0 0 20px;}
	.navbar-nav li {width:100%; padding-bottom:5px;}
	.navbar-nav li:before {display:none;}
	.navbar-nav li a {padding:0; display:inline-block; border:0;}
	.sub-menu ul {display:block !important; position:static; border:0; padding-top:4px; padding-left:25px;}
	.sub-menu ul li a {border:0 !important; padding:0 !important; display:inline-block;}
	.sub-menu ul li a span {display:inline-block !important; padding:0 7px 0 3px;}

	/* Mega Menu */
	ul.mega_menu {width:100%;}
	
/* _________ //Menu _________ */

	.newsletters_block .pull-left, .newsletters_block .pull-right {float:none !important;}
	.newsletters_block p {margin-bottom:20px;}
	.newsletters_block input[type="text"] {width:235px; margin-bottom:10px;}
	
	
	.project_item {margin-bottom:30px;}
	

/* __________ Shortcodes __________ */
	.price_item {width:100%; float:none; margin-bottom:20px;}
	
	.icons_block li {width:100%;}
/* _________ //Shortcodes _________ */

/* __________ Shop __________ */
	.shop_block .col-xs-6 {width:49.8%;}
	.sorting_options .pagination {margin-top:10px;}
	#toggle-sizes {margin-top:10px;}
	.product_item .item_btn_in a.btn {margin-bottom:5px;padding:3px 8px; font-size:12px;}
	.sorting_options .btn {margin-top:10px;}
	.product_sort {margin-top:10px;}
	#toggle-sizes {display:none;}
/* _________ //Shop _________ */

/* __________ Blog __________ */
	.leave_comment input[type="text"] {width:99.5%;}
/* _________ //Blog _________ */
	
	
	footer .FlickrImages {padding-right:0;}



}

@media (max-width: 479px) {
	.top_social li {margin-left:3px;}
	
	.breadcrumb {float:left !important; padding-top:10px;}
	
/* __________ Menu __________ */
	
	/* Mega Menu */
	ul.mega_menu li.col {width:100%; float:none; padding-bottom:10px;}
	
/* _________ //Menu _________ */

	.service_item {width:100%; float:none;}
	
	
	.video_block {height:191px;}
	
	
	.latest_news_item .recent_post {float:none !important; width:100%; height:100%; margin-right:0;}
	.latest_news_item .recent_post img {width:100%;}
	.latest_news_item {margin-bottom:30px;}

/* __________ Shortcodes __________ */
	.nav-tabs li {float:none; width:100%;}
	
	.frame340 iframe {width:260px;}
/* _________ //Shortcodes _________ */

/* __________ Shop __________ */
	.product_sort {margin-top:10px;}
/* _________ //Shop _________ */

/* _________ Blog __________ */
	.post_img iframe {height:237px;}
/* ________ //Blog _________ */

	
	footer .latest_news_item .recent_post {float:left !important; margin-right:20px;}



/* __________ Bootstrap Style __________ */
	.col-ss-1, .col-ss-2, .col-ss-3, .col-ss-4, .col-ss-5, .col-ss-6, .col-ss-7, .col-ss-8, .col-ss-9, .col-ss-10, .col-ss-11 {float: left;}
	.col-ss-12 {width: 100%;}
	.col-ss-11 {width: 91.66666666666666%;}
	.col-ss-10 {width: 83.33333333333334%;}
	.col-ss-9 {width: 75%;}
	.col-ss-8 {width: 66.66666666666666%;}
	.col-ss-7 {width: 58.333333333333336%;}
	.col-ss-6 {width: 50%;}
	.col-ss-5 {width: 41.66666666666667%;}
	.col-ss-4 {width: 33.33333333333333%;}
	.col-ss-3 {width: 25%;}
	.col-ss-2 {width: 16.666666666666664%;}
	.col-ss-1 {width: 8.333333333333332%;}

}


































